@inherits ProductCategoriesNavigationMenuBase

@if(ProductCategoryDtos == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if(ErrorMessage != null)
{
    <DisplayError ErrorMessage = "@ErrorMessage"/>
}
else
{
    var ProductCategories = "";
    <div class = "nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="eventArgs => { UpdateCategoryId(0); }">
                <span class="fas fa-home" aria-hidden="true"></span>&nbsp;Home
            </NavLink>
            </div>
    @foreach(var productCategory in ProductCategoryDtos)
    {
        ProductCategories += "," + productCategory.Id;
        var link = "/ProductsByCategory/" + productCategory.Id+"/"+SelectedColorsIdsString+"/"+SelectedSizesIdsString;
        
        <div class = "nav-item px-3">
            <NavLink class="nav-link" href="@link" @onclick="eventArgs => { UpdateCategoryId(productCategory.Id); }">
                <span class="@productCategory.IconCSS"></span>&nbsp;@productCategory.Name
            </NavLink>
        </div>
    }
    <ProductColorsNavigationMenu 
        SelectedIds="@SelectedColorsIds"
        SelectedValuesString="ShowSelectedValues"/> 

    <ProductSizesNavigationMenu 
        SelectedIds="@SelectedSizesIds"
        SelectedValuesString="ShowSelectedValues"/> 

}